<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="webjars/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
    <link href="webjars/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/5.0.1/bootstrap.min.js" ></script>
</head>
<body>



    <div class="container">

        <div class="jumbotron p-2">
            <H1><i class="fa fa-home"></i> Home</H1>
            <p th:text="${teste}"></p>
        </div>
        <ul class="list-group">
            <li class="list-group-item" th:each="servico: ${servicos}"><i class="	fa fa-check"></i></i>
                <span th:text="${servico}"></span>
            </li>
        </ul>

        <p class="mt-2" th:text="'Qtde:' + ${servicos.size()}"></p>

        <p class="mt-2 text-info" th:text="${serverTime}"></p>
    </div>

</body>

</html>