<html lang="en" xmlns:th="https://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/_layout">


<div layout:fragment="content">

    <div class="card">
        <form action="" class="form" role="form">
            <div class="card-header">
                <div class="card-heading">
                    <div class="card-title">
                        <h2><i class="fa fa-card"></i> Contato</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="form-label" for="nome">Nome:</label>
                    <input class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome...">
                </div>
                <div class="form-group">
                    <label class="form-label" for="nome">E-mail:</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="email@dominio.com">
                </div>
                <div class="form-group">
                    <label class="form-label" for="celular">Celular:</label>
                    <input class="form-control" type="tel" name="celular" id="celular" placeholder="celular/whatsapp">
                </div>
                <div class="form-group">
                    <label class="form-label" for="assunto">Assunto:</label>
                    <select class="form-control" name="assunto" id="assunto">
                        <option value="" selected>Selecione um assunto</option>
                        <option value="sugestao">Sugestão</option>
                        <option value="elogio">Elogio</option>
                        <option value="reclamacao">Reclamação</option>
                    </select>
                </div>
            </div>

            <div class="card-footer">
                 <div class="btn-group">
                     <button class="btn btn-primary">Cancelar</button>
                     <button class="btn btn-primary">Enviar</button>
                 </div>
            </div>

    </div>

    </form>

</div>

</html>